.wrapper_for_cicle{
    width: 100%;
    position: fixed;
    height: 100vh;
    animation: cicle 10s infinite linear;
    border-radius: 50%;
}
@keyframes cicle{
    0% {transform: rotate(360deg);}; 
   100% {};
}
.blur_cicle_1 {
    position: absolute;
    width: 30%;
    height: 800px;
    background: rgb(253, 0, 0);
    z-index: -1;
    border-radius: 0% 0% 30% 0%;
    filter: blur(80px);
    border-radius: 50%;
}
.blur_cicle_2 {
    position: absolute;
    width: 70vw;
    height: 400PX;
        background: rgb(12, 231, 255);
        z-index: -1;
        border-radius: 0% 0% 0% 30%;
        filter: blur(100px);
        left: 26%;
        border-radius: 50%;
}
.blur_cicle_3 {
    position: absolute;
    width: 70vw;
    height: 400PX;
        background: rgb(101, 3, 162);
        z-index: -1;
        border-radius: 0% 0% 30% 0%;
        filter: blur(90px);
        left: 25%;
        top: 50%;
        border-radius: 50%;
}
